h1 {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.wrapper .card {
    display: flex;
    border-radius: 10px;
    width: fit-content;
    border: 1px solid #11ff11;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 20px 40px;
}

.wrapper .card:nth-last-child(2n) {
    justify-self: end;
}

.wrapper .card .img {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 130px;
    overflow: hidden;
    border: 1px solid #11ff11;
    border-radius: 10px;
    margin-right: 20px;
}

.wrapper .card .img img {
    height: 120%;
}

.wrapper .card .cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper .card .cont .txt {
    display: flex;
    justify-content: space-between;
}

.wrapper .card .cont .txt p {
    font-size: 1.5rem;
}

.wrapper .card .cont .txt .stats p {
    padding-left: 20px;
    font-size: 1rem;
}

.wrapper .card .cont .button {
    margin: 20px 40px 0 40px;
}

.wrapper .left{
    justify-self: flex-end;
}

.wrapper .right{
    justify-self: flex-start;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    text-align: center;
    border: 1px solid #11ff11;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 1.2rem;
}