h1 {
    font-size: 2.25rem;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 50px;
    width: fit-content;
    max-width: 7000px;
    margin-top: 20px;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #11ff11;
    background-color: rgba(0, 0, 0, 0.8);
}

.wrapper form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.wrapper form label {
    font-size: 1.25rem;
    padding-bottom: 5px;
}

.wrapper form input, .wrapper form textarea {
    padding: 10px 20px;
    background-color: rgba(17, 255, 17, 0.2);
    border-radius: 10px;
    border: 1px solid #11ff11;
    margin-bottom: 10px;
}

.wrapper form textarea {
    min-width: fit-content;
    min-height: 50px;
    width: 200px;
}

.wrapper form input::placeholder, .wrapper form textarea::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.wrapper form input:focus, .wrapper form textarea:focus {
    outline: none;
}