.wrapper {
    display: flex;
    margin: auto;
    width: 70%;
    max-width: 7000px;
    border-radius: 20px;
    border: 1px solid #11ff11;
    background-color: rgba(0,0,0,0.8);
}

.wrapper .left {
    width: 50%;
    padding: 0 20px;
    margin: auto;
}

.wrapper .left h2 {
    font-size: 2.25rem;
    padding-bottom: 20px;
}

.wrapper .left p {
    font-size: 1.25rem;
}

.wrapper .left .exclusive {
    padding-top: 40px;
}

.wrapper .right {
    width: 50%;
    padding: 10px 20px;
    margin: auto;
}

.wrapper .right div {
    margin-left: 10%;
    width: 90%;
    border-radius: 20px;
    background-color: rgba(17,255,17,0.2);
}

.wrapper .right div img {
    transform: translateX(-10%);
    max-width: 140%;
}